body {
    /* background-color: #85bb65; */
}

h1 {
    color: rgb(255, 0, 0);
    background-color: rgba(0, 255, 0, 0.3);
}

#box4 {
    background-color: #f202e2;
    color: #335755;
}

.box5 {
    background-color: hsla(240, 100%, 50%, 0.7);
    color:#B8538A;
}