//*****************************************************
//*   PROJECT PAGE
//*****************************************************

.project-bgImg-container{
    @include bgImage(40vh, $main-bgImage-path);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projects__bio-image{
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.projects{
    &__items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 5rem;
        gap: 1rem 0rem;

    }

    &__item{
        width: 100%;
        cursor: pointer;
        border-bottom: 5px solid $secondary-color;

        img{
            width: 100%;
        }
    }
}